/*ul.react-tabs__tab-list {
    padding: 11px 0px 6px 13px;
    font-size: 19px;
}

.row.custom_days {
    position: relative;
    top: 8px;
    font-size: 14px;
}

a {
    font-size: 19px;
}

.button_bid {
    font-size: 15px;
    padding: 12px 11px 11px 7px !important;
    float: right;
    width: 28%;
}
*/