/* .card-one,
.card-two {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: 1px solid #e9e9e9;
  padding: 3rem 0px;
  
}
.card-three {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem 0px;

}
.subcard-one,
.subcard-two,
.subcard-three {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.p-invalid .w-full .md:w-20rem {
  min-height: 4rem;
  margin: 1rem 0;
  border: 1px solid #e0e1e1;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding-left: 10px;
}

.task-name,
.estimation {
  min-height: 4rem;
  margin: 1rem 0;
  border: 1px solid #e0e1e1;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding-left: 10px;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.add-address {
  min-height: 4rem;
  background-color: #e7e8e8;
  border-radius: 5px;
  border: 1px solid #e0e1e1;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  padding-left: 10px;
}
.select-customer {
  border-radius: 5px;
}
.description {
  min-height: 8rem;
  margin-top: 1rem;
  background-color: #e7e8e8;
  border-radius: 5px;
  padding: 1rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.form-control {
  height: 4rem !important;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #d4cee3;
  font-size: 1.5rem !important;
}
.start-date,
.end-date {
  width: 50%;
  margin: 1rem 0;
}
.publish {
  height: 40.33391189575195px;
  width: 151.375244140625px;
  left: 33.437255859375px;
  top: 731px;
  border-radius: 2px;
  background: #0790c9;
  color: #fff;
  font-size: 1.4rem;
  margin-right: 3rem;
}
.save {
  width: 100.31px;
  height: 40.33px;
  left: 439.93px;
  top: 953px;
  font-size: 1.4rem;
  background: #f2f4f4;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  color: #000;
}
.buttons {
  display: flex;
  flex-direction: row;
}
@media (max-width: 576px) {
  .subcard-one,
  .subcard-two,
  .subcard-three {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .card-one,
  .card-two,
  .card-three {
    width: 100%;
  }
  .start-date,
  .end-date {
    width: 100%;
  }
}
#submit_btn {
  margin-top: 55px !important;
}
#description {
  height: 110px !important;
  background-color: #e6e8e8;
}

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.side-drawer-two {
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);

  transition: transform 0.3s ease-out;
}
.side-drawer-two.open {
  transform: translateX(0);
}
@media (max-width: 1179px) {
  .side-drawer-two {
    width: 50%;
  }
}
@media (max-width: 890px) {
  .side-drawer-two {
    width: 65%;
  }
}
@media (max-width: 725px) {
  .side-drawer-two {
    width: 65%;
  }
}
@media (max-width: 676px) {
  .side-drawer-two {
    width: 70%;
  }
}
@media (max-width: 630px) {
  .side-drawer-two {
    width: 75%;
  }
}
@media (max-width: 595px) {
  .side-drawer-two {
    width: 80%;
  }
}

@media (max-width: 479px) {
  .side-drawer-two {
    width: 90%;
  }
} */
